.s-text{
    text-align: center;
}
.s-boxes{
    background: url('../img8.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 90vh;
    padding: 50px 20px;
    margin-left: 15px;
    color:white
}
.s-boxes h1{
    margin-bottom: 40px;
}

.s-box-container{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
.s-box-container img{
    width: 100px;
    height: 100px;
}
.s-box{
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    height: 200px;
    color: black;
    border-radius: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.s-box-header {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.s-box-header img {
    width: 100px;
    height: 100px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: -50px;
    padding: 10px;
}

.s-box-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.s-box-description {
    font-size: 0.95rem;
    color: #333;
}
.approach{
    text-align: center;
    margin-left: 220px;
    margin-bottom: 50px;
}
.a-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    align-items: center;
    gap: 20px;
}
.a-box div{
    border: 0.5px solid #003366;
    border-radius: 10px;
    box-shadow: 0 -4px 0 #003366;
}
.a-img{
    width: 350px;
    height: 200px;
    border-radius: 10px;
}
.n-container{
    display: flex;
    justify-content: space-evenly;
    border: 2px solid #034268;
    margin-bottom: 50px;
    width: 75vw;
    align-items: center;
    border-radius: 20px;
    margin-left: 150px;
    color: #264f69;
    padding: 30px;
}
.brd{
    border: 1px solid #034268;
    width: 0px;
    height: 150px;
}
.IC{
    width: 80px;
    height: 80px;
    text-align: center;
}
.s-quote{
    background-color: #003366;
    color: white;
    text-align: center;
    margin-bottom: 50px;
    padding: 10px;
}
.s-quote button{
    background-color: red;
    color: white;
    width: 150px;
    border-radius: 20px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    font-size: bold;
    font-weight: 600;
}
