.navbar-1{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.logo{
    width: 150px;
    height: 70px;
}
.details{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: space-around;
    height: 30px;
    color: #034268;
}
.button{
    width: 150px;
    height: 80x;
    border-radius: 20px;
    background-color: #034268;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    font-size: bold;
    font-weight: 600;
}
.navbar-2{
    display: flex;
    justify-content: space-around;
    background-color: #F2F0FE;
    height: 100px;
    width:97vw;
    margin-left: 14px;
}
.options{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 50px;
}
.options h4{
    cursor: pointer;
    font-size: 20px;
    font-weight: 1000;
    color: #034268;
}
.dropdown{
    width: 1000px;
    height: 470px;
    border: none;
    display: flex;
    justify-content: space-between;
    display: none;
    position: absolute;
    margin-left: 350px;
    margin-top: 80px;
}
.dropdown div{
    width: 240px;
}
.dropdown li{
    list-style: none;
    margin-bottom: 10px;
    border-bottom: 1px solid #7b9fb6;
    padding-bottom:5px ;
}
.deropdown ul{
    align-items:flex-start;
}
.dropdown li:hover{
    color: #034268;
    cursor: pointer;
}
.dropdown h2{
    color: #034268;
    cursor: pointer;
    padding-bottom: 5px;
}
.dropdown h2:hover{
    border-bottom: 2px solid #034268;
}
.graphic ul{
    margin-top: 55px;
}
.marketing ul{
    margin-top: 50px;
}
.data{
    margin-right: 30px;
}
.data ul{
    margin-top: 50px;
}
.service:hover .dropdown{
    display: flex;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: white;
    z-index: 999;
}

.img{
    width:97vw;
    height: 80vh;
}