.main{
    margin: 0;
    width: 97vw;
}
.header{
    display: flex;
    flex-direction: column;
}
.navbar-1{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.logo{
    width: 150px;
    height: 70px;
}
.details{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: space-around;
    height: 30px;
    color: #034268;
}
.button{
    width: 150px;
    height: 80x;
    border-radius: 20px;
    background-color: #034268;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    font-size: bold;
    font-weight: 600;
}
.navbar-2{
    display: flex;
    justify-content: space-around;
    background-color: #F2F0FE;
    height: 100px;
    width:97vw;
    margin-left: 14px;
}
.options{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 50px;
}
.options h4{
    cursor: pointer;
    font-size: 20px;
    font-weight: 1000;
    color: #034268;
}
.dropdown{
    width: 1000px;
    height: 480px;
    border: none;
    display: flex;
    justify-content: space-between;
    display: none;
    margin-left: 400px;
    margin-top: 80px;
}
.dropdown li{
    list-style: none;
    margin-bottom: 10px;
    border-bottom: 1px solid #7b9fb6;
    padding-bottom:5px ;
}
.deropdown ul{
    align-items:flex-start;
}
.dropdown li:hover{
    color: #034268;
    cursor: pointer;
}
.dropdown h2{
    color: #034268;
    cursor: pointer;
    padding-bottom: 5px;
    text-align: center;
}
.dropdown h2:hover{
    border-bottom: 2px solid #034268;
}

.service:hover .dropdown{
    display: flex;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: white;
    z-index: 999;
}
.img1{
    width:97vw;
    height: 80vh;
    margin-left: 15px;
}
.we_are{
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.img2{
    max-width: 500px;
    max-height: 650px;
    margin-top: 20px;
}
.img2_matter{
    margin-top: 150px;  
}
.text-container {
    position: relative;
    display: inline-block;

}

.text-back {
    font-size: 4rem;
    font-weight: 700;
    color: #e0e0e0;
    position: absolute;
    left: 0;
    top: -55px;
    z-index: 0;
    pointer-events: none;
    user-select: none;
    width: 800px;
}

.text-front {
    font-size: 2.5rem;
    font-weight: 700;
    background: linear-gradient(to right, #003366, #5e2a74, #af234a, #ff2e2e);
    left: 10px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 1;
}
.img2_matter p{
    width: 600px;
    height: 130px;
    font-size: 18px;
}
.services{
    padding-top: 200px;
    height: 85vh;
}
.s-title h2{
    color: red;
    font-size: 30px;
    text-align: center;
    font-weight: 800;
}
.s-text-container {
    position: relative;
    display: inline-block;
    line-height: 1;
    left: 580px;
}

.s-text-back {
    font-size: 6rem;
    font-weight: 700;
    color: #e0e0e0;
    position: absolute;
    top: -55px;
    z-index: 0;
    pointer-events: none;
    user-select: none;
    width: 800px;
}

.s-text-front {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(to right, #003366, #5e2a74, #af234a, #ff2e2e);
    left: 50px;
    top: 30px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 1;
}
.s-box{
    display: flex;
    flex-direction: row;
    width: 1500px;
    justify-content: space-evenly;
    padding-top: 80px;
}
.s-box-1{
    border: 0.5px solid transparent;
    box-shadow: 4px 4px 5px 5px #e0e0e0 ;
    border-radius: 20px;
    width: 280px;
    height: 350px;
    padding-left: 50px;
    align-items: center;
}
.logo-1{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    align-items: center;
}
.footer{
    display: flex;
    flex-direction: column;
    height: 68vh;
    background-color: #034268;
    margin-left: 15px;
}
.footer-up{
    display: flex;
    justify-content: space-around;
    color: white;
}
.c_title{
    display: flex;
}
.c_title div{
    border: 0.5px solid transparent;
    background-color: #ff2e2e;
    width: 2px;
    height: 25px;
    margin-top: 30px;
    margin-right: 5px;
}
.c_title h3{
    color: white;
}
.input{
    width: 400px;
    height: 50px;
}
.footer-down{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border: 0.5px solid transparent;
    background-color: white;
    height: 100px;
    width: 80vw;
    margin-left: 150px;
    align-items: center;
}
.icons{
    margin-right: 20px;
}
.icon{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    color: #034268;
}
.logo1{
    width: 150px;
    height: 70px;
    margin-left: 20px;
}

